<div class="form-container">
  <h1>Ask your stupid question</h1> <br>
  <form action="/answer" class="form-inline">
    <input type="text" name="question" placeholder="Enter your stupid sentence" class="form-control input-large">
    <input type="submit" value="Ask!" class="form-control btn-primary">
  </form>
</div>
